@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
   }
  
   

   .div-map{
    display: flex;
    justify-content: center;
     gap: 2rem; 
   }

   .rectangular-box {
    width: 989px;
    height: 446px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FCFBE4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 10px 10px 4px 0px #000;
    margin-top: 17vh; 
  }
  
 
  .img{
    border: solid 10px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.7;
  }

  .footer{
    height: 55vh;
    padding-top: 30vh;
    padding-bottom: 12vh; 
  }

  .company, .help, .terms{
    display:flex;
    flex-direction: column;
  }

  .icons{
    margin-right: 10px;
  }


  @media screen and (max-width:800px) {

    .app-logo{
      font-size: 25px;
    }
   
    .hero-heading{
      font-size: min(35px, 40px);
      width:auto;
    }

    .hero-screens:nth-of-type(2){
      display: none;
    }

    .hero-screens{
      overflow-y: hidden;
      
    }

    .hero-screens > img{
      max-width: 45vw;
      margin-top: 14vh;
    }

    .hero-screens-container{
      max-height: 80vh;
      padding-top: 10vh;
      margin-top: -8vh;
     
    }

    .rectangular-box{
      max-width: 80vw;
      height: 40vh;
      margin-top: 22vh;
    }

    .get-text{
      text-align: center;
      font-size: 16px;
    }

    .app-links{
      max-width: 45vw;
    }

    .about{
      height:auto;
    }

    .about-heading{
      font-size: 20px;

    }

    .about-screens{
      margin-top: -15vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 14px;
    }

    .screens{
      max-height: 350px;
    }

    .footer{
      flex-direction: column;
      height:auto;
      overflow: hidden;
      width: 90vw;
    }

    .footer-head{
      font-size: 23px;
      margin-top: -12vh;
    }

    .icons > img {
      width: 41px;
      height: 41px;
    }

    .footer-menu{
      margin-left: 2px;
      margin-top: -6vh;
      padding: 7px;
      margin-bottom: 4vh;
    }

    .footer-links{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 24px;
     padding: 10px;
     margin-bottom: -6vh;
     padding-left: 45vw;
    }

    .terms{
      padding-top: 15px;
    }

    .terms-text{
      width: 50vw;
     
    }

    .footer-link{
      font-size: 16px;
    }

    .help > ul, .company > ul {
      
      width:50vw;
     
    }

  }



  @media screen and (min-width: 801px) and (max-width: 1280px) {

   
    .app-logo{
        font-size: 25px;
    }

    .hero-heading{
        font-size: 40px;
        width:auto;
    }

    .get-text{
      margin-top: 2vh;
      font-size: 18px;
      text-align: center;
    }

    .hero-screens{
     
      margin-top: 2vh;
    }

    .hero-screens > img{
      max-width: 30vw;
      box-shadow: 0 4px 2px -2px gray;
    }

    .hero-screens-container{
      max-height: 80vh;
      padding-top: 10vh;
      margin-top: -8vh;
     
    }

    .rectangular-box{
      max-width: 90vw;
      height: 40vh;
      margin-top: 22vh;
    }

    .app-links{
      max-width: 45vw;
    }

    .about{
      height:auto;
      margin-top: -5vh;
    }

    .about-heading{
      font-size: 30px;

    }

    .about-screens{
      margin-top: -15vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 8vw;
    }

    .screens{
      max-height: 420px;
      
    }

    .footer{
      flex-direction: column;
      height:auto;
      overflow: hidden;
      width: 90vw;

    }

    .footer-head{
      font-size: 25px;
    }

    .icons > img {
      width: 45px;
      height: 45px;
    }

    .footer-menu{
      margin-left: 10vw;
      margin-top: -14vh;
      padding: 7px;
      margin-bottom: 4vh;
    }

    .footer-links{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 24px;
     padding: 10px;
     margin-bottom: -6vh;
     padding-left: 45vw;
    }

    .terms{
      padding-top: 15px;
      width: 30vw;
    }

    .terms-text{
      width: 50vw;
     
    }

    .footer-link{
      font-size: 16px;
    }

    .help > ul, .company > ul {
      
      width:40vw;
     
    }

 

}
