@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
   }
  
   

   .div-map{
    display: flex;
    justify-content: center;
     gap: 2rem; 
   }

   .rectangular-box {
    width: 989px;
    height: 446px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FCFBE4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 10px 10px 4px 0px #000;
    margin-top: 17vh; 
  }
  
 
  .img{
    border: solid 10px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.7;
  }

  .footer{
    height: 55vh;
    padding-top: 30vh;
    padding-bottom: 12vh; 
  }

  .company, .help, .terms{
    display:flex;
    flex-direction: column;
  }

  .icons{
    margin-right: 10px;
  }


  @media screen and (max-width:800px) {
   
    .hero-heading{
      font-size: 43px;
    }

    .hero-screens:nth-of-type(2){
      display: none;
    }

    .hero-screens{
      overflow-y: hidden;
      margin-top: 2vh;

    }

    .hero-screens-container{
      height: 80vh;
      padding-top: 10vh;
      margin-top: -4vh;
    }

    .rectangular-box{
      width: 90vw;
      
    }


  }